.Judul{
    background-color: black;
    text-align: center;
    color: white;
    height: 100px;
    padding-top: 23px;
    padding-bottom: 27px;
}

.judul-1{
    margin-top: 150px;
}

.sampul{
  margin: auto;
  align-items: center;
}
    
    img{
      height: 300px;
      width: 300px;
    }
  
    .align-center{
      display: block;
      margin: 0px auto;
    }
  
    .luffy{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto; 
    }
  
    .zoro{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .nami{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .usop{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .sanji{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .choper{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .robin{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .franky{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .brok{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

    .jinbe{
      height: 700px;
      width: 500px;
      display: block;
      margin: auto;
    }

.gambar-1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.gambar-2{
    margin-top: 50px;
    margin-bottom: 50px;
}

.gambar-3{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-4{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-5{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-6{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-7{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-8{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-9{
  margin-top: 50px;
  margin-bottom: 50px;
}

.gambar-10{
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer{
    margin-top: 100px;
}